@import url(/options/reset.css);

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.magic__btn {
  position: fixed;
  top: 20px;
  background-color: lightgreen;
  padding: 12px 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 100;
  box-shadow: 1px 3px rgb(1, 167, 1);
}

.magic__btn:active {
  box-shadow: none;
  transform: translateY(2px);
}

.magic__boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  transition: 0.4s ease;
}
.magic__boxes.big {
  width: 600px;
  height: 600px;
}

.magic__boxes.big .magic__box {
  transform: rotateZ(360deg);
}

.magic__box {
  background-image: url('https://media3.giphy.com/media/KZd26L2o8QXtK/giphy.gif');
  background-repeat: no-repeat;
  background-size: 500px 500px;

  position: relative;
  width: 125px;
  height: 125px;
  transition: 0.4s ease;
}

.magic__box::before {
  content: "";
  background-color: rgb(67, 199, 67);
  position: absolute;
  left: 8px;
  bottom: -15px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}

.magic__box::after {
  content: "";
  background-color: rgb(138, 253, 138);
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

