@import url(/options/reset.css);

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

body {
  height: 100vh;
  overflow: hidden;
}

h2 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  color: white;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  color: white;
  width: 15rem;
  padding: 1.5rem;
  border: 4px solid white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}
.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url('ps.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url('xbox.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}


.split.left,
.split.right,
.split.left::before,
.split.right::before {
  transition: all var(--speed) ease-in-out;
}

.hover__left .left {
  width: var(--hover-width);
}

.hover__left .right {
  width: var(--other-width);
}

.hover__right .right {
  width: var(--hover-width);
}

.hover__right .left {
  width: var(--other-width);
}

