@import url(/options/reset.css);

body {
  background: rgb(5,0,94);
  background: linear-gradient(360deg, lightblue 0%, lightgray 75%);
}

.container {
  max-width: 500px;
  border-radius: 20px;
  padding: 30px;
  background-color: rgb(50, 180, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h3 {
  color: white;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

p {
  color: white;
  font-size: 14px;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(0, 73, 152);
}


.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.btn {  
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  border: none;
  color: white;
  background-color: rgb(29, 124, 225);
  margin-bottom: 15px;
}

.form-control {
  position: relative;
  width: 300px;
}

.form-control input {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom: 2px solid lightblue;
}

.form-control label {
  color: white;
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

