@import url(/options/reset.css);

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f4ed;
  background-image: linear-gradient(
    to bottom,
    #f9f4ed 0%,
    #f9f4ed 50%,
    #febb5d 50%,
    #febb5d 100%
  );
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 80px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
  overflow: hidden;
}

nav.active {
  width: 350px;
}
nav ul {
  display: flex;
  width: 0;
  transition: width 0.6s linear;
}
nav.active ul{
  width: 100%;
}
nav ul li {
  opacity: 0;
  transform: rotateY(0deg);
  transition: all 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  position: relative;
  color: black;
  text-decoration: none;
  margin: 0 6px;
}

.icon {
  background-color: white;
  border: 0;
  position: relative;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.icon:focus {
  outline: 0;
}
.icon .line {
  background-color: #febb5d;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}