@import url(/options/reset.css);

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.img__container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.img__btns {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.btn {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  width: 248px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}